// Monochromatic.
$black: #000000;
$black-80: #222222;
$black-60: #444444;
$black-40: #666666;
$black-20: #888888;
$grey: #999999;
$grey-light: #BBBBBB;
$grey-x-light: #DDDDDD;
$white: #FFFFFF;

// Colors.
$purple: #B103F7;