@import '../styles/globals';

.contact-info {
    $form-width: 600px;

    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: $form-width;

    input,
    textarea,
    button {
        margin-bottom: $base-grid-2x;
    }

    textarea {
        resize: none;
    }

    .contact-name,
    .wedding-info {
        display: flex;

        input {
            flex: 1;

            &:first-of-type {
                margin-right: $base-grid-2x;
            }
        }
    }

    button {
        width: auto;
    }

    @media #{$tablet-portrait-and-smaller} {
        width: auto;

        .wedding-info {
            flex-direction: column;

            input {
                &:first-of-type {
                    margin-right: 0;
                }
            }

            .ember-power-select-trigger {
                margin-bottom: $base-grid-2x;
                width: auto;
            }
        }
    }
}
