<div class='view-container index'>
    <h1 class='main-title'>My big day is coming up and I'm looking for a...</h1>

    <div class='profiles'>
        <div {{action 'onProfileClick' 'stylist'}} class='profile'>
            <div class='picture kenzie'></div>
            <button class='btn'>STYLIST</button>
        </div>

        <div {{action 'onProfileClick' 'video'}} class='profile'>
            <div class='picture kam'></div>
            <button class='btn'>VIDEOGRAPHER</button>
        </div>
    </div>
</div>