@import '../colors';
@import '../globals';

@mixin greyBorder() {
    border-bottom: 1px solid $grey-light;
    border-left: 1px solid $grey-light;
    border-right: 1px solid $grey-light;
    border-top: 1px solid $grey-light;
}

.view-container {
    .ember-power-select-trigger {
        @include greyBorder;

        cursor: pointer;
        font-size: 16px;
        height: $base-grid-3x;
        line-height: $base-grid-3x;
        min-height: $base-grid-3x;
        padding: $base-grid;
        width: 150px;

        &.ember-power-select-trigger--active,
        &:focus {
            @include greyBorder;

            // border-bottom: 2px solid $purple;

            .ember-power-select-placeholder {
                color: $purple;
            }
        }
    }
}
