@import '../../styles/globals';
@import '../../styles/colors';

.view-container {
    padding: 0 5%;
}

header {
    $dropdown-width: 200px;

    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;

    h1 {
        background-color: rgba($black, 0.2);
        color: $white;
        font-size: 6vw;
        font-weight: 300;
        margin: $base-grid-4x 0 0 0;
        min-width: $dropdown-width;
        padding: $base-grid-2x 0 $base-grid-5x;
        text-align: center;
        width: 60%;
    }

    .dropdown {
        position: absolute;
        bottom: -#{$base-grid-2x};

        button {
            align-items: center;
            background-color: $black-20;
            border: none;
            color: $white;
            display: flex;
            font-size: 14px;
            justify-content: center;
            outline: none;
            padding: $base-grid-2x;
            width: $dropdown-width;

            .svg-symbol {
                $icon-size: $base-grid-2x;

                fill: $white;
                height: $icon-size;
                margin-left: $base-grid;
                width: $icon-size;
            }
        }

        .dropdown-content {
            background-color: $white;
            display: none;
            min-width: 200px;
            position: absolute;
            z-index: 1;

            a {
                color: black;
                display: block;
                padding: $base-grid-2x;
                text-align: left;
                text-decoration: none;

                &:hover {
                    background-color: $grey-x-light;
                }
            }
        }

        &:hover {
            button.btn {
                border-radius: 2px 2px 0 0;
            }
            .dropdown-content {
                display: block;
            }
        }
    }
}

section {
    height:600px;
}
