<div class='view-container'>
    {{header-nav title='videography.' links=links}}

    {{#section-header title='About'}}
        <p>By trade, I am a Software Engineer. I actually built the very website you are visiting. I enjoy the aspect of creative design, which pours over into my love for videography.</p>
    {{/section-header}}

    {{#section-header title='Portfolio'}}
        <p>Even in the high-tech age we live in, weddings are still considered one of the most important days in life. Each wedding has its own unique voice. A voice that deserves to be heard by friends, family, and future generations. Having been married myself, I fully understand the amount of time and energy that is involved in preparing for your big day. My passion is to capture these emotions and details and ensure they are given the attention they deserve.</p>
        <p>All of my videos are filmed and produced entirely by myself. I'll be there in the morning when the bridesmaids are getting ready, till late in the evening as the party dances on. </p>
    {{/section-header}}

    {{#section-header title='Pricing'}}
        <p>Some content.</p>
    {{/section-header}}
</div>
