<div class='view-container'>
    {{header-nav title='stylist.' links=links}}

    {{#section-header title='About'}}
        <p>Content</p>
    {{/section-header}}

    {{#section-header title='Portfolio'}}
        <p>Content</p>
    {{/section-header}}

    {{#section-header title='Pricing'}}
        <p>Some content.</p>
    {{/section-header}}
</div>
